<% if !@order_foods.size == 0 %>
    <p class="text-center">
      There are no items in your shopping cart. Please <%= link_to "go back", root_path %> and add some items to your
      cart.
    </p>

<% else %>
    <% @order_foods.each do |order_food| %>
        <%= render 'confirm_order', food_item: order_food.food_item, order_food: order_food, show_total: true %>
    <% end %>

<% end %>