<div class="row">
  <div class="col-md-4">
    <h1>Contact Us</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <strong>Restaurant KenK11</strong><br>
    38 Le Lu, Tan Phu District, <br>
    Ho Chi Minh City,<br>
    Vietnam <br>
    0909 706 728<br>
  </div>
  <div class="col-md-9">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.3420059209975!2d106.62091894976236!3d10.785096261946494!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752c04804589b7%3A0x69770e97e84f86bd!2zMzggTMOqIEzGsCwgUGjDuiBUaOG7jSBIb8OgLCBUw6JuIFBow7osIEjhu5MgQ2jDrSBNaW5oLCBWaWV0bmFt!5e0!3m2!1sen!2s!4v1467984097602" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</div>